<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'add_fan' %}">Add fan</a>
                <a class="nav-link" href="{% url 'add_student' %}">Add student</a>
            </div>
        </div>
    </div>
</nav>

<div class="card bg-dark text-white mt-3">
    <img src="https://picsum.photos/200" class="card-img" alt="">
    <div class="card-img-overlay">
        <h5 class="card-title">{{ student.full_name }}</h5>
        <p class="card-text">Email: {{ student.email }}</p>
        <p class="card-text">Address: {{ student.address }}</p>
        <a href="{% url 'student_about_pdf' student.id %}" class="btn btn-primary">PDF yuklab olish</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
